/*----------Variables----------*/
.varE{
    --max-with-master:700px;
    --max-detalles:700px;
    --color-temp:grey;
    --max-with-Echart:650px;
}
/*--------------------------------------*/
.tablet2{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    width: 100%;
}

@media (max-width: 768px) {
    .tablet{
        display: block;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 10px;
    }
    .tablet2{
        display:flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin: auto;
    }
}

/*css componente Echart 1*/
.contenedor{
    width:100%;
    max-width: 500px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
}

.botones{
    margin-right: 5px;
    /* background-color: categoryFilter[cat] ? #007bff : #ccc;  */
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.detalles{
    width: 90%; 
    max-width:var(--max-detalles);
}

.contenedor-master{
    max-width: var(--max-with-master);
}
.master{
    max-width:var(--max-with-master);
}

@media(min-width:1280px){
    .contenedor{
        max-width: 750px;
        max-height: 900px;
    }
    .varE{
        --max-with-master:800px;
        --max-detalles:800px;
    }
}
/*css componente tabletbines*/
.tabletBines{
    width: 100%;
}
.selects{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
.table{
    width: 90%;
    border-collapse: collapse ;
    margin: auto;
}
.acquirer{
    width: 50%;
}
.QT{
    width: 25%;
}
.QXT{
    width: 25%;
}
.tbody{
    text-align: center;
}
.tbody td{
    padding: 1.5% 1%;
    border-radius: 0px;
}
.tbody:not(:last-child) td{
    border-bottom: 0.5px solid #F3F3F3;
}
.tbody td:nth-child(2),
.tbody td:nth-child(3){
    color: #7D818D;
}

/*----------------Echart4---------------*/
.contenedor-echart{
    width: 100%;
    max-width: 450px; 
}

@media (min-width:1280px) {
    .contenedor-echart{
        max-width: 850px;
        width: 100%;
    }
    
}
/*--------------lista----------*/
.contenedor-lista{
    width: 100%;
    
}
.table-lista{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
.thead-lista{
    width: 100%;
}
.col{
    width: 33.3%;
}



/*------------ECHART 3----------*/
.contenedor-Echart3{
    width: 100%; 
    height: 400px; 
    max-width:  700px; 
    margin: 20px auto;
}
@media (min-width:1280px){
    .contenedor-Echart3{
        width: 80%; 
        height: 400px; 
        max-width: 750px; 
        
    }
}
/*------------ECHART 2----------*/
.contenedor-echart2-principal{
    width: 100%;
    max-width:500px;
    min-height: 340px; 
}

.contenedor-echart2{
    width: 90%;
    max-width:500px; 
}
@media(min-width:1280px){
    .contenedor-echart2{
        width: 100%;
        max-width:800px;
    }
}